img {   
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    cursor: pointer;
}

.card{
    background-color: var(--primary-color);
    border: thick double var(--quaternay-color);
    width: 15dvw;
    height: 25dvh;
}

.card-container:hover{
    box-shadow: 0.2rem 0.2rem 0.5rem   var(--quaternay-color), -0.2rem -0.2rem 3rem  var(--quaternay-color);
}